*{
    margin: 0;
    padding: 0;
    font-family: 'Microsoft Yahei','PingFang SC',sans-serif;
}
li {
    list-style: none;
}

.content-wrapper {
    width: 100%;
    display: flex;
}

.left-pane {
    flex: 1;
    text-align: center;
}

/*左侧清单布局*/
.list-type::after {
    content: " ";
    display: block;
    height: 1px;
    width: 100%;
    background: RGB(243, 243, 243);
}

.list-type li {
    display: block;
    height: 50px;
    line-height: 50px;
    font-size: 14px;
}

.list-type li:hover {
    background: RGB(250, 251, 252);
    cursor: pointer;
}

.list-type li.active {
    background: RGB(245, 246, 247);
    border-left: 2px solid RGB(86, 107, 252);
    font-weight: bold;
}

/*左侧新建清单按钮布局*/
.list-add {
    width: 100%;
    height: 50px;
    line-height: 50px;
    color: RGB(86, 107, 252);
    cursor: pointer;
}

.list-add:hover {
    background: RGB(250, 251, 252);
}

/*右侧布局*/
.right-pane {
    flex: 3;
}

.header {
    width: 100%;
    height: 200px;
    position: relative;
    background: RGB(235, 125, 114);
}

.header .list-title {
    position: absolute;
    left: 20px;
    bottom: 20px;
    font-size: 30px;
    color: #fff;
}

.header .save-btn {
    position: absolute;
    width: 100px;
    height: 35px;
    right: 20px;
    bottom: 20px;
    color: #fff;
    background: RGB(38, 102, 212);
    border-radius: 5px;
    font-size: 16px;
    line-height: 35px;
    border: none;
    cursor: pointer;
}
.header .save-btn:hover {
    background: RGB(21, 61, 174);
}

/*todo item 布局*/
.todo-item, .todo-add {
    display: block;
    position: relative;
    height: 50px;
    line-height: 50px;
    padding-left: 10px;
    text-align: left;
}

.todo-item:hover {
    background: RGB(251, 251, 252);
}

.todo-item::after {
    content: " ";
    display: block;
    height: 1px;
    width: 100%;
    background: RGB(243, 243, 243);
}

.todo-item .icon-list {
    display: inline-block;
    margin-right: 15px;
}

.todo-item .title {
    display: inline-block;
}

.todo-title {
    display: inline-block;
    margin-left: 20px;
}

/*完成Todo相关*/
.check-todo {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    vertical-align: middle;
    border: 2px solid RGB(118, 118, 120);
    border-radius: 50%;
    cursor: pointer;
}

.check-todo .icon-checkmark {
    position: absolute;
    display: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 12px;
    color: RGB(118, 118, 120);
}

.check-todo.checked {
    background: RGB(108, 177, 0);
}

.check-todo.checked .icon-checkmark {
    display: inline-block;
    color: #fff;
}

/*收藏Todo相关*/
.star-todo {
    display: inline-block;
    float: right;
    margin-right: 20px;
    font-size: 17px;
    cursor: pointer;
}

.icon-star-empty:hover, .icon-star-full:hover {
    font-size: 18px;
}

.star-todo .icon-star-empty {
    display: inline-block;
}
.star-todo .icon-star-full {
    display: none;
}

.star-todo.stared .icon-star-empty {
    display: none;
}
.star-todo.stared .icon-star-full {
    display: inline-block;
    color: RGB(70, 93, 252);
}

/*添加Todo相关*/
.todo-add {
    border-bottom: 1px solid RGBA(7, 17, 27, 0.1);
    border-left: 3px solid RGB(86, 107, 252);
}
.todo-add input {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 16px;
}

.todo-add input:focus {
    border: none;
}

/* 添加遮罩层 弹出框相关 */
/*<div class="mask">
    <div class="list-name-pane">
        <input type="text" value="" placeholder="请输入清单名称">
        <div class="submit">确定</div>
        <div class="cancel">取消</div>
    </div>
</div>*/
.mask {
    display: none;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    background: RGBA(0, 0, 0, 0.3);
}

.list-name-pane {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    height: 200px;
    display: flex;
    flex-direction: column;
    background: #fff;
    text-align: center;
}

.list-name-pane .pane-title {
    flex: 1;
    color: RGB(83, 85, 89);
    text-align: left;
    padding-left: 10%;
    font-size: 20px;
    line-height: 65px;
}

.list-name-pane .input-pane {
    flex: 1;
    font-size: 20px;
    line-height: 65px;
    border-top: 1px solid RGBA(7, 17, 27, 0.2);
    border-bottom: 1px solid RGBA(7, 17, 27, 0.2);
}

.list-name-pane .input-pane input {
    height: 40px;
    width: 80%;
    font-size: 16px;
    border: none;
}

.list-name-pane .input-pane input:focus {
    outline: none;
}

.list-name-pane .buttons {
    flex: 1;
    position: relative;
}

.list-name-pane .submit {
    display: inline-block;
    position: absolute;
    width: 100px;
    height: 40px;
    right: 125px;
    bottom: 10px;
    border-radius: 10px;
    line-height: 40px;
    color: #fff;
    background: RGB(0, 105, 217);
}

.list-name-pane .cancel {
    display: inline-block;
    position: absolute;
    width: 50px;
    height: 40px;
    right: 48px;
    bottom: 10px;
    border-radius: 10px;
    line-height: 40px;
    color: #fff;
    background: RGB(108, 117, 125);
}

.list-name-pane .submit:hover {
    background: RGB(60, 91, 177);
    cursor: pointer;
}

.list-name-pane .cancel:hover {
    background: RGB(40, 44, 52);
    cursor: pointer;
}

/*垃圾桶样式*/
.trash {
    display: none;
    position: fixed;
    width: 100%;
    height: 40px;
    bottom: 0;
    left: 0;
    line-height: 40px;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    color: RGB(255, 255, 255);
    background: RGB(235, 125, 114);
    transition: all 0.2s linear;
}
